/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Montserrat:wght@200&family=Phudu:wght@300&family=Playfair+Display:wght@400;500&family=Raleway:wght@100&family=Source+Code+Pro:wght@300&family=Tilt+Prism&display=swap'); */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(235, 231, 108);
    color: black;
    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Phudu', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Tilt Prism', cursive;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-image: url(fon-home3.avif);
    background-size: cover;
    height: 700px;
    width: 90%;
}

nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    /* flex-wrap: wrap; */
    gap: 350px;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 20px;
}

.logo a{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    margin-top: 25px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
}

.menu a{
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    color: black;
}

/* 2 часть */

.about{
    display: flex;
    flex-direction: row;
}

.about-card-1{
    width: 50%;
    background-color: rgb(240, 184, 110);
    margin-top: -50px;
    margin-bottom: 80px;
    padding-top: 50px;
}

.about-card-2{
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 50%;
    margin: 30px;
}

.about-card-1 h1{
    margin-bottom: 10px;
}

.kolona{
    white-space: normal;
    display: inline-block;
}


/* 3 часть */

.emotions{
    display: flex;
    flex-direction: row;
}

.emotions-card-1{
    width: 50%;
    margin-left: 50px;
}

.emotions-card-2{
    width: 50%;
    margin: 30px;
}

.emotions-card-1 h1{
    margin-top: 100px;
    margin-bottom: 10px;
}

.emotions-card-1 p{
    width: 300px;
}

.emotions-card-2 img{
    width: 820px;
}

/* 4 часть */

.adventure{
background-image: url(fon-4.jpeg);
background-size: cover;
background-repeat: no-repeat;
color: white;
margin-top: -80px;
padding-top: 300px;
padding-left: 1000px;
padding-bottom: 50px;
padding-right: 50px;
}

/* начало footer */

.footer-contact{
    padding-left: 50px;
    padding-top: 100px;
    background-color: rgb(240, 184, 110);
    color: white;
}

.footer-contact h2{
    font-size: 30px;
}

.footer-content{
    display: flex;
    flex-direction: row;
    text-align: start;
    font-size: 20px;
}

.footer-card{
    display: flex;
    flex-direction: row;
}

.footer-card-2{
    width: 400px;
}

.footer-ul{
    padding-left: 20px;
}

.footer-ul a{
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;
}

.footer-button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px white solid;
}

.footer-button a{
    font-size: 40px;
    text-decoration: none;
    color: white;
    background: transparent;
    background-color: rgb(240, 184, 110);
}

.div-table{
    margin-top: 20px;
    padding-bottom: 50px;
}

.div-table td{
    padding-right: 10px;
}